*.DS_Store
*.pyc
build/*
lib/*
*.dat
*.swp
*.swo
*~
*#
*.pdf
*.log
*.aux
*.#*
*.c3
*.svg

doc/html/*
doc/latex/*
doc/c3doc/*
doc/*

src/lib_funcs/legpolytens/legtens.h
src/TAGS

bin/*
benchmarks/fastmkron/bin/*
benchmarks/dmrgprod/bin/*
benchmarks/dmrgprod/dat/*
benchmarks/qrdecomp/bin/*
benchmarks/scalardiffusion/dat/*
benchmarks/scalardiffusion/bin/*
benchmarks/linelmconv/bin/*

*.c3

fileheaders.txt
update_file_headers.py
add_license_split.py

profiling/regress/*/*.c3
profiling/regress/bin/*