*.DS_Store
*.pyc
build/*
build_no_py/*
lib/*
*.dat
*.swp
*.swo
*~
*#
*.pdf
*.log
*.aux
*.#*
*.c3
*.svg
*.so
*.a

doc/html/*
doc/latex/*
doc/c3doc/*
doc/*

src/lib_funcs/legpolytens/legtens.h
src/TAGS

bin/*
benchmarks/fastmkron/bin/*
benchmarks/dmrgprod/bin/*
benchmarks/dmrgprod/dat/*
benchmarks/qrdecomp/bin/*
benchmarks/scalardiffusion/dat/*
benchmarks/scalardiffusion/bin/*
benchmarks/linelmconv/bin/*

*.desktop
profiling/regress/all_in_one/cache_performance.txt
*.c3

fileheaders.txt
update_file_headers.py
add_license_split.py

profiling/regress/*/*.c3
profiling/regress/bin/*
profiling/regress/*/*.txt

wrappers/python/build*
wrappers/python/c3.py
wrappers/python/c3_wrap.c

wrappers/python/callback/build*


fly*

*.desktop
c3_builded*